# Optional defaults. You can also pass these through CLI args.
OHANA_START_URL=https://liveohana.ai/
OHANA_SEARCH_URL=https://liveohana.ai/
OHANA_LOCATION=Philadelphia


AFFORDABLEHOUSING_START_URL=https://www.affordablehousing.com/
AFFORDABLEHOUSING_SEARCH_URL=https://www.affordablehousing.com/
AFFORDABLEHOUSING_LOCATION=Boston, MA
